body {
  background-color: gray;
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.center-div {
  position: relative;
  width: 800px;
  background-color: beige;
  margin: auto;
  z-index: 1;
}

.hand-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: auto;
}

.inner-content {
  display: flex;
}
