body {
  background-color: gray;
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
}

.main-content {
  min-height: 650px;
  overflow-x: auto;
  height: 100%;
  display: flex;
  justify-self: end;
}

.inner-content {
  z-index: -100;
  position: absolute;
  width: calc(100vw - 240px);
  height: 250px;
  overflow-x: auto;
  background-color: beige;
  margin: 120px;
  margin-bottom: 60px;
}

.hand-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: auto;
}
