.container {
  position: absolute;
  overflow-x: auto;
  overflow-y: hidden;
}

.bottom .group {
  position: relative;
}

.top {
  left: 150px;
}

.top,
.bottom {
  height: 110px;
  width: 100%;
  min-width: 300px;
}

.bottom {
  position: static;
}

.left,
.right {
  width: 80px;
  height: 200px;
  top: 100px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}
