.remainingText {
  position: relative;
  z-index: 1000;
  font-size: 24px;
  border-radius: 20px;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}
