.opponentsContainer {
}

.opponent {
  position: absolute;
}

.opponent.left,
.opponent.right {
  top: 25%;
  margin-top: -60px;
}

.opponent.left {
  left: 0;
}

.opponent.right {
  right: 0;
}

.opponent.top {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
