.actionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 0;

  height: 100%;

  font-size: 32px;
}

.buttonContainer {
  margin-top: 30px;
}

.chooseSeatContainer {
  display: flex;
}

.chooseSeatContainer > div {
  margin: 10px;
}
